*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none; 
}

body{
    background-color: black;
    overflow: hidden;
    
}

main{
    width: 100%;
}

section{
    background-color: #ffff;
    width: 80%;
    height: 250px;
    background-size: 1200px;
    background-position: 32px;
    background-repeat: no-repeat;
    margin: 50px auto;
    border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}
.box{
 width: 50px;
 height: 50px;

 position: absolute;
 top: 123px;
 left: 300px;
 

}

.box img {
  width: 100px;

}

audio{
    display: n;
    position: relative;
    top: 400px;
}




.bgg{
    display: flex;
    gap: 300px;
    position: relative;
    top: 183px;
    animation: animat 4s infinite linear;
    animation-name: animat;
    -webkit-animation: animat 4s infinite linear;
}

.bgg2{
    display: flex;
    gap: 300px;
    position: relative;
    top: 183px;
    animation: animat 3s infinite linear;
    animation-name: animat;
    -webkit-animation: animat 3s infinite linear;
}


.bgg3{
    display: flex;
    gap: 300px;
    position: relative;
    top: 183px;
    animation: animat 1s infinite linear;
    animation-name: animat;
    -webkit-animation: animat 1s infinite linear;
}


@keyframes animat {
    0% {
       transform: translateX( 1100px);
       -webkit-transform: translateX( 1100px);
       -moz-transform: translateX( 1100px);
       -ms-transform: translateX( 1100px);
       -o-transform: translateX( 1100px);
}
      100% {
        transform: translateX( -500px);
        -webkit-transform: translateX( -500px);
        -moz-transform: translateX( -500px);
        -ms-transform: translateX( -500px);
        -o-transform: translateX( -500px);
}


}



/* 
@keyframes animat2 {
    0% {
       left: 1100px;
    }
      100% {
       left: -32px;
}


} */

/* menu */



.menu{
    position: absolute;
    background-color: #000D6B;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0px;
}

.menu .start {
    width:30%;
    margin: 0 auto;
    background-color: #9C19E0;
    color: #fff;
    text-align: center;
    margin-top: 20%;
    font-family: sans-serif;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
.menu .restart {
    width:30%;
    margin: 0 auto;
    background-color: #9C19E0;
    color: #fff;
    text-align: center;
    margin-top: 2%;
    font-family: sans-serif;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
.menu .start:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.menu .restart:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.round1{
  display: none;
  color: antiquewhite;
  text-align: center;
  transform: scale(1);
  transition: all 4s ease;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);

}

.round2{
    display: none;
    color: antiquewhite;
    text-align: center;
    transform: scale(2);
    transition: all 4s ease;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -ms-transition: all 4s ease;
    -o-transition: all 4s ease;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);


    
}

.round3{
    display: none;
    color: antiquewhite;
    text-align: center;
    transform: scale(2);
    transition: all 4s ease;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -ms-transition: all 4s ease;
    -o-transition: all 4s ease;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.back{
    position: absolute;
    top: 4px;
    height: 60vh;
    width: 155px;
    background-color: rgb(0, 0, 0);
    
}

.back2{
    position: absolute;
    top: 4px;
    right: 0px;
    height: 60vh;
    width: 155px;
    background-color: rgb(0, 0, 0);
    
}


.burger{
    padding: 20px 16px;
    background-color: #9C19E0;
    z-index: 2;
    position: absolute;
    right: 32px;
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
    color: #fff;
    border: none;
}

input{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    right: -34px;
    top: 44px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #9C19E0;
}