* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
  user-select: none;
}

body {

  width: 110%;
 
  background-color: #04061B;
  background-image: url("./images/bg-2.png");
  background-repeat: no-repeat;
  overflow: hidden;

}

main {



  
}

.section {



 
  
  /* width: 1918px;
  height: 100vh;
 height: 250px; 

  background-image: url("./images/bg-2.png");
  
  background-repeat: repeat; */

  
}
    
#sec{
  background-color: rgba(0, 0, 0, 0.388);
  z-index: 9999;
  position:absolute;
  width: 100%;
  height: 90vh;
  z-index: 99999999;
 
  
}
.box {
 width: calc(1600px / 8);
 height: 200px;
 position: relative;
 top: 445px;
 background-image: url("./Sprites/Run.png");
 /*background-color: rgba(255, 255, 255, 0.158);
 border-radius: 50%;
 box-shadow: 0 0 10px 10px rgba(202, 194, 194, 0.2);
 */z-index: 99999;
 transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 -moz-transform: scale(3, 3);
 -ms-transform: scale(3, 3);
 -o-transform: scale(3, 3);
}
/* 
#box img {
  width: 60px;
} */

.def {
  width: calc(1600px / 8);
  height: 200px;
  position: relative;
  top: 445px;
  /*background-image: url("./images/run.png");
  */background-image: url("./Sprites/Idle.png");
  animation: walk 0.4s steps(8) infinite;
  -webkit-animation: walk 0.4s steps(8) infinite;
  z-index: 99999;
 
}

.defLeft{
  width: calc(1600px / 8);
  height: 200px;
  position: relative;
  top: 445px;
  /*background-image: url("./images/run.png");
  */background-image: url("./Sprites/Idle.png");
  animation: walk 0.4s steps(8) infinite;
  -webkit-animation: walk 0.4s steps(8) infinite;
  z-index: 99999;
  transform: scale(-3 , 3);
  -webkit-transform: scale(-3 , 3);
  -moz-transform: scale(-3 , 3);
  -ms-transform: scale(-3 , 3);
  -o-transform: scale(-3 , 3);
}

@keyframes walk {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px;
  }
}

.run {
  /*animation: jump 0.4s  linear;
  -webkit-animation: walk 0.4s steps(8) infinite;
  */animation: walk 0.8s steps(8) infinite;
  -webkit-animation: walk 0.4s steps(8) infinite;
}
.runLeft {
  /*animation: jump 0.4s  linear;
  -webkit-animation: walk 0.4s steps(8)  infinite;
  */animation: walk 0.4s steps(8) infinite;
  -webkit-animation: walk 0.4s steps(8) infinite;
  transform: scale(-3 ,3);
  -webkit-transform: scale(-3 ,3);
  -moz-transform: scale(-3 ,3);
  -ms-transform: scale(-3 ,3);
  -o-transform: scale(-3 ,3);
}

/* -----death----- */

.jump {
  width: calc(400px / 2);
  height: 200px;
  position: relative;
  top: 90px;
  left: 15%;
  background-image: url("./Sprites/Jump.png");
  animation: jump 0.2s steps(2) infinite;
  -webkit-animation: jump 0.2s steps(2) infinite;
}

/* .jumpAttack{
  width: calc(1200px/6);
  height: 200px;
  position: relative;
  top: 130px;
  left: 15%;
  background-image: url("./Sprites/Attack1.png");
  animation: attack 0.6s steps(6)  infinite;
  -webkit-animation: attack 0.6s steps(6)  infinite;
} */

@keyframes jump {
  from {
    background-position: 0;
  }
  to {
    background-position: -400px;
  }
}

.attack {
  width: calc(1200px / 6);
  height: 200px;
  position: relative;
 
  background-image: url("./Sprites/Attack1.png");
  animation: attack 0.6s steps(6) infinite;
  -webkit-animation: attack 0.6s steps(6) infinite;
}

.attack2 {
  width: calc(1200px / 6);
  height: 200px;
  position: relative;
 
  background-image: url("./Sprites/Attack2.png");
  animation: attack 0.6s steps(6) infinite;
  -webkit-animation: attack 0.6s steps(6) infinite;
}

@keyframes attack {
  from {
    background-position: 0;
  }
  to {
    background-position: -1200px;
  }
}


/* 
.bgg2-{
    display: flex;
    gap: 300px;
    position: relative;
    top: 183px;
    animation: animat 3s infinite linear;
    animation-name: animat;
    -webkit-animation: animat 3s infinite linear;
}


.bgg3-{
    display: flex;
    gap: 300px;
    position: relative;
    top: 183px;
    animation: animat 1s infinite linear;
    animation-name: animat;
    -webkit-animation: animat 1s infinite linear; 
}
    */

@keyframes animat {
  0% {
    left: 1200px;
  }
  100% {
    left: -80px;
  }
}


/* ---------------- BOX2  dushman---- */





.box2 {
 width: calc(1600px / 8);
 height: 200px;
 position: relative;
 top: 230px;
 
 background-image: url("./Sprites2/Run.png");
 /*background-color: rgba(255, 255, 255, 0.158);
 border-radius: 50%;
 box-shadow: 0 0 10px 10px rgba(202, 194, 194, 0.2);
 */z-index: 99999;
 transform: scale(-3 , 3 ) ;
 -webkit-transform: scale(-3 , 3 ) ;
 -moz-transform: scale(-3 , 3 ) ;
 -ms-transform: scale(-3 , 3 ) ;
 -o-transform: scale(-3 , 3 ) ;
 margin-left: 800px;
}









.run2 {
  /*animation: jump 0.4s  linear;
  -webkit-animation: walk 0.4s steps(8) infinite;
  */animation: walk 0.8s steps(8) infinite;
  -webkit-animation: walk2 0.4s steps(8) infinite;
  position: relative;

  


}


.runLeft22 {
  /*animation: jump 0.4s  linear;
  -webkit-animation: walk 0.4s steps(8)  infinite;
  */
 animation: walk2 0.4s steps(8) infinite;
  -webkit-animation: walk 0.4s steps(8) infinite;
  transform: scale(-3 ,3);
  -webkit-transform: scale(-3 ,3);
  -moz-transform: scale(-3 ,3);
  -ms-transform: scale(-3 ,3);
  -o-transform: scale(-3 ,3);
  

}

.def2 {
  width: calc(1600px / 8);
  height: 200px;
  position: relative;
  top: 230px;
  background-image: url("./Sprites2/Idle.png");
  animation: walk2 0.8 steps(8) infinite;
  -webkit-animation: walk2 0.8 steps(8) infinite;
  z-index: 99999;
 
 
}



@keyframes walk2 {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px;
  }
}



.jump2 {
  width: calc(400px / 2);
  height: 200px;
  position: relative;
  top: 90px;
  left: 15%;
  background-image: url("./Sprites2/Jump.png");
  animation: jump 0.2s steps(2) infinite;
  -webkit-animation: jump 0.2s steps(2) infinite;
}

/* .jumpAttack{
  width: calc(1200px/6);
  height: 200px;
  position: relative;
  top: 130px;
  left: 15%;
  background-image: url("./Sprites/Attack1.png");
  animation: attack 0.6s steps(6)  infinite;
  -webkit-animation: attack 0.6s steps(6)  infinite;
} */



.attack22 {
  width: calc(1200px / 6);
  height: 200px;
  position: relative;
  background-image: url("./Sprites2/Attack1.png");
  animation: attack22 0.6s steps(6) infinite;
  -webkit-animation: attack22 0.6s steps(6) infinite;
}


.attack33 {
  width: calc(1200px / 6);
  height: 200px;
  position: relative;
  background-image: url("./Sprites2/Attack2.png");
  animation: attack22 0.6s steps(6) infinite;
  -webkit-animation: attack22 0.6s steps(6) infinite;
}

.death2{
  width: calc(1400px / 7);
  height: 200px;
  position: relative;
  background-image: url("./Sprites2/Death.png");
  animation: death2 0.7s steps(7) infinite;
  -webkit-animation: death2 0.7s steps(7) infinite;
}




.blood11{
  width: 300px;
  height: 300px;
  background-image: url("./images/blood.gif");
  background-repeat: no-repeat;
  position: absolute;
  right: 200px;
  display: none;
}

@keyframes attack22 {
  from {
    background-position: 0;
  }
  to {
    background-position: -1200px;
  }
}

@keyframes death2 {
  from {
    background-position: 0;
  }
  to {
    background-position: -1400px;
  }
}





/* loader health */
.loader{
  display: block;
  position: relative;
  height: 20px;
  width: 500px;
 
 bottom: 380px;
  background: #fff;
  border: 2px solid #fff;
  color: rgb(223, 60, 60);
  overflow: hidden;
}

.loader::before {
  content: '';
  background: rgb(223, 60, 60);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading_302 10s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  color: rgb(0,255,255);
  mix-blend-mode: difference;
  animation: percentage_302 10s linear infinite;
}

@keyframes loading_302 {
  0% {
    width: 100%
  }

  100% {
    width: 0
  }
}

@keyframes percentage_302 {
  0% {
    content: "0%"
  }


  10% {
    content: "100%"
  }

  20% {
    content: "90%"
  }

  30% {
    content: "80%"
  }

  40% {
    content: "70%"
  }

  50% {
    content: "60%"
  }

  60% {
    content: "50%"
  }

  70% {
    content: "40%"
  }

  80% {
    content: "30%"
  }

  90% {
    content: "20%"
  }
/* 
  95% {
    content: "95%"
  }

  96% {
    content: "96%"
  }

  97% {
    content: "97%"
  }

  98% {
    content: "98%"
  }

  99% {
    content: "99%"
  } */

  100% {
    content: "10%"
  }
}
  
  

/* -----death----- */





/* ------------------------------------- */
.back {
  position: absolute;
  top: 4px;
  height: 100%;
  width: 155px;
  background-color: rgb(0, 0, 0);
}

.back2 {
  position: absolute;
  top: 4px;
  right: 0px;
  height: 100%;
  width: 155px;
  background-color: rgb(0, 0, 0);
}

.road {
  width: 300px;
  height: 100px;
  background-color: rgb(212, 209, 201);
  position: relative;
  left: 30px;
}

.trass {

  animation: trass 0.3s infinite;
  -webkit-animation: trass 0.3s infinite;
}

@keyframes trass {
  10% {
    transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
    -o-transform: translate(1px, 1px);
  }
  30% {
    transform: translate(3px, -3px);
    -webkit-transform: translate(3px, -3px);
    -moz-transform: translate(3px, -3px);
    -ms-transform: translate(3px, -3px);
    -o-transform: translate(3px, -3px);
  }
  50% {
    transform: translate(-3px, 3px);
    -webkit-transform: translate(-3px, 3px);
    -moz-transform: translate(-3px, 3px);
    -ms-transform: translate(-3px, 3px);
    -o-transform: translate(-3px, 3px);
  }
  80% {
    transform: translate(-3px, -3px);
    -webkit-transform: translate(-3px, -3px);
    -moz-transform: translate(-3px, -3px);
    -ms-transform: translate(-3px, -3px);
    -o-transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(-1px, 1px);
    -webkit-transform: translate(-1px, 1px);
    -moz-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
  }
}



input {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  
  top: 44px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #9c19e0;
display: flex;
}


.menu{

  width: 100%;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(5px);
   z-index: 999999;

}

.menubar{


  width: 300px;
  margin: 300px auto;


 

}

/* .start{
 background-color: red;
 width: 300px;
 text-align: center;
 

} */

/* .restart{
  background-color: red;
  width: 300px;
  text-align: center;
} */

.start {
  position: relative;
  
  left: -30%;
  padding: 10px 200px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0 auto;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
   z-index: 999999;
}

.start:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.start:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.start::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.start:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}



/* RESTART---------- */
.restart {
  position: relative;
  padding: 10px 195px;
  top: 20px;
  left: -30%;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 999999;
}

.restart:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.restart:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.restart::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.restart:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/* ABOUT */
.about {
  position: relative;
  padding: 10px 200px;
  top: 40px;
  left: -30%;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 999999;
}

.about:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.about:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.about::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.about:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/* EXET */
.exet {
  position: relative;
  padding: 10px 209px;
  top: 60px;
  left: -30%;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 999999;
}

.exet:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.exet:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.exet::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.exet:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/* 
@keyframes animat2 {
    0% {
       left: 1100px;
    }
      100% {
       left: -32px;
}


} */

/* menu */
/* 
.round1 {
  display: none;
  color: antiquewhite;
  text-align: center;
  transform: scale(1);
  transition: all 4s ease;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.round2 {
  display: none;
  color: antiquewhite;
  text-align: center;
  transform: scale(2);
  transition: all 4s ease;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.round3 {
  display: none;
  color: antiquewhite;
  text-align: center;
  transform: scale(2);
  transition: all 4s ease;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.back {
  position: absolute;
  top: 4px;
  height: 100%;
  width: 155px;
  background-color: rgba(0, 0, 0, 0.179);
}

.back2 {
  position: absolute;
  top: 4px;
  right: 0px;
  height: 100%;
  width: 155px;
  background-color: rgba(0, 0, 0, 0.149);
}

.burger {
  padding: 20px 16px;
  background-color: #9c19e0;
  z-index: 2;
  position: absolute;
  right: 32px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: #fff;
  border: none;
}
 */


/*  */
/* 
@media (max-width: 1280px){

body{
  width: 1280px;
  height: 720px;
  background-color: #9c19e0;
  z-index: 9999999999999999;

}
} */